```
# Dependencies
node_modules/

# Build outputs
dist/
build/
target/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py~
*.py.class
*.py.backup
*.py.swp
*.py.swo
*.py.tmp
*.py.log
*.py.err
*.py.out
*.py.a
*.py.so
*.py.o
*.py.obj
*.py.dll
*.py.exe
*.py.class
*.py.jar
*.py.war
*.py.ear
*.py.zip
*.py.tar
*.py.tgz
*.py.tbz2
*.py.txz
*.py.xz
*.py.bz2
*.py.gz
*.py.rar
*.py.7z
*.py.zst
*.py.lz4
*.py.lzh
*.py.cab
*.py.arj
*.py.rpm
*.py.deb
*.py.Z
*.py.lz
*.py.lzo
*.py.tar.gz
*.py.tar.bz2
*.py.tar.xz
*.py.tar.zst
*.py.png
*.py.jpg
*.py.jpeg
*.py.bmp
*.py.gif
*.py.webm
*.py.mp4
*.py.avi
*.py.mov
*.py.wmv
*.py.flv
*.py.mpg
*.py.mpeg
*.py.mkv
*.py.webp
*.py.ico
*.py.svg
*.py.tiff
*.py.tif
*.py.eps
*.py.ai
*.py.psd
*.py.pdf
*.py.doc
*.py.docx
*.py.xls
*.py.xlsx
*.py.ppt
*.py.pptx
*.py.txt
*.py.csv
*.py.json
*.py.xml
*.py.html
*.py.css
*.py.js
*.py.ts
*.py.jsx
*.py.tsx
*.py.vue
*.py.svelte
*.py.hbs
*.py.handlebars
*.py.pug
*.py.jade
*.py.slim
*.py.erb
*.py.haml
*.py.styl
*.py.less
*.py.scss
*.py.sass
*.py.php
*.py.py
*.py.rb
*.py.go
*.py.rs
*.py.cpp
*.py.c
*.py.h
*.py.hpp
*.py.cc
*.py.cxx
*.py.hxx
*.py.java
*.py.class
*.py.jar
*.py.war
*.py.ear
*.py.ipynb
*.py.R
*.py.r
*.py.m
*.py.mat
*.py.f90
*.py.f95
*.py.f03
*.py.f08
*.py.f18
*.py.ml
*.py.mli
*.py.re
*.py.res
*.py.resi
*.py.mlpack
*.py.dune
*.py.dhall
*.py.nix
*.py.yaml
*.py.yml
*.py.toml
*.py.ini
*.py.cfg
*.py.conf
*.py.properties
*.py.env
*.py.envrc
*.py.gitignore
*.py.dockerignore
*.py.editorconfig
*.py.prettierignore
*.py.eslintignore
*.py.stylelintignore
*.py.hadolintignore
*.py.checkovignore
*.py.bandit
*.py.black
*.py.flake8
*.py.isort
*.py.mypy
*.py.pylintrc
*.py.pytest.ini
*.py.tox.ini
*.py.coveragerc
*.py.babelrc
*.py.browserslistrc
*.py.commitlintrc
*.py.czrc
*.py.cz.json
*.py.eslintrc
*.py.hintrc
*.py.jshintrc
*.py.jscsrc
*.py.jshintignore
*.py.markdownlint.json
*.py.nodemon.json
*.py.npmignore
*.py.nycrc
*.py.remarkrc
*.py.rollup.config.js
*.py.stylelintrc
*.py.tslint.json
*.py.tern-config
*.py.tern-project
*.py.vim
*.py.vimrc
*.py.vscode/settings.json
*.py.vscode/tasks.json
*.py.vscode/launch.json
*.py.vscode/extensions.json
*.py.idea/
*.py.idea/workspace.xml
*.py.idea/modules.xml
*.py.idea/vcs.xml
*.py.idea/misc.xml
*.py.idea/runConfigurations/
*.py.idea/dictionaries/
*.py.idea/inspectionProfiles/
*.py.idea/codeStyles/
*.py.idea/scopes/
*.py.idea/shelf/
*.py.idea/sonarlint/
*.py.idea/encodings.xml
*.py.idea/mavenRunner.xml
*.py.idea/compiler.xml
*.py.idea/copyright/
*.py.idea/libraries/
*.py.idea/runConfigurations/
*.py.idea/sshConfigs.xml
*.py.idea/dataSources.ids
*.py.idea/dataSources.xml
*.py.idea/dataSources.local.xml
*.py.idea/sqlDataSources.xml
*.py.idea/dynamic.xml
*.py.idea/uiDesigner.xml
*.py.idea/gradle.xml
*.py.idea/encodings.xml
*.py.idea/runConfigurations/
*.py.idea/vagrant.xml
*.py.idea/inspectionProfiles/Project_Default.xml
*.py.idea/jsLibraryMappings.xml
*.py.idea/dictionaries/
*.py.idea/sqldialects.xml
*.py.idea/sqlDataSources.xml
*.py.idea/intellij-javadocs.properties
*.py.idea/markdown-navigator.xml
*.py.idea/markdown-navigator-enh.xml
*.py.idea/watcherTasks.xml
*.py.idea/webServers.xml
*.py.idea/webContexts.xml
*.py.idea/codeStyles/codeStyleConfig.xml
*.py.idea/sonarlint/issuestore/
*.py.idea/sonarlint/securityhotspotstore/
*.py.idea/material_theme_project_new.xml
*.py.idea/vcs.xml
*.py.idea/gradle.xml
*.py.idea/libraries/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.......py.idea/
*.py.vscode/
*.py.DS_Store
*.py.Thumbs.db
*.py.Spotlight-V100
*.py.Trashes
*.py._DS_Store
*.py.AppleDouble
*.py.LSOverride
*.py.Icon?
*.py.ReadMe
*.py.readme
*.py.aliases
*.py.desktop.ini
*.py.Understand
*.py.tags
*.py.cscope*
*.py.ncb
*.py.user
*.py.userosscache
*.py.suo
*.py.pdb
*.py.idb
*.py.iobj
*.py.ilk
*.py.log
*.py.err
*.py.out
*.py.a
*.py.so
*.py.o
*.py.obj
*.py.dll
*.py.exe
*.py.class
*.py.jar
*.py.war
*.py.ear
*.py.zip
*.py.tar
*.py.tgz
*.py.tbz2
*.py.txz
*.py.xz
*.py.bz2
*.py.gz
*.py.rar
*.py.7z
*.py.zst
*.py.lz4
*.py.lzh
*.py.cab
*.py.arj
*.py.rpm
*.py.deb
*.py.Z
*.py.lz
*.py.lzo
*.py.tar.gz
*.py.tar.bz2
*.py.tar.xz
*.py.tar.zst
*.py.png
*.py.jpg
*.py.jpeg
*.py.bmp
*.py.gif
*.py.webm
*.py.mp4
*.py.avi
*.py.mov
*.py.wmv
*.py.flv
*.py.mpg
*.py.mpeg
*.py.mkv
*.py.webp
*.py.ico
*.py.svg
*.py.tiff
*.py.tif
*.py.eps
*.py.ai
*.py.psd
*.py.pdf
*.py.doc
*.py.docx
*.py.xls
*.py.xlsx
*.py.ppt
*.py.pptx
*.py.txt
*.py.csv
*.py.json
*.py.xml
*.py.html
*.py.css
*.py.js
*.py.ts
*.py.jsx
*.py.tsx
*.py.vue
*.py.svelte
*.py.hbs
*.py.handlebars
*.py.pug
*.py.jade
*.py.slim
*.py.erb
*.py.haml
*.py.styl
*.py.less
*.py.scss
*.py.sass
*.py.php
*.py.py
*.py.rb
*.py.go
*.py.rs
*.py.cpp
*.py.c
*.py.h
*.py.hpp
*.py.cc
*.py.cxx
*.py.hxx
*.py.java
*.py.class
*.py.jar
*.py.war
*.py.ear
*.py.ipynb
*.py.R
*.py.r
*.py.m
*.py.mat
*.py.f90
*.py.f95
*.py.f03
*.py.f08
*.py.f18
*.py.ml
*.py.mli
*.py.re
*.py.res
*.py.resi
*.py.mlpack
*.py.dune
*.py.dhall
*.py.nix
*.py.yaml
*.py.yml
*.py.toml
*.py.ini
*.py.cfg
*.py.conf
*.py.properties
*.py.env
*.py.envrc
*.py.gitignore
*.py.dockerignore
*.py.editorconfig
*.py.prettierignore
*.py.eslintignore
*.py.stylelintignore
*.py.hadolintignore
*.py.checkovignore
*.py.bandit
*.py.black
*.py.flake8
*.py.isort
*.py.mypy
*.py.pylintrc
*.py.pytest.ini
*.py.tox.ini
*.py.coveragerc
*.py.babelrc
*.py.browserslistrc
*.py.commitlintrc
*.py.czrc
*.py.cz.json
*.py.eslintrc
*.py.hintrc
*.py.jshintrc
*.py.jscsrc
*.py.jshintignore
*.py.markdownlint.json
*.py.nodemon.json
*.py.npmignore
*.py.nycrc
*.py.remarkrc
*.py.rollup.config.js
*.py.stylelintrc
*.py.tslint.json
*.py.tern-config
*.py.tern-project
*.py.vim
*.py.vimrc
*.py.vscode/settings.json
*.py.vscode/tasks.json
*.py.vscode/launch.json
*.py.vscode/extensions.json
*.py.idea/
*.py.idea/workspace.xml
*.py.idea/modules.xml
*.py.idea/vcs.xml
*.py.idea/misc.xml
*.py.idea/runConfigurations/
*.py.idea/dictionaries/
*.py.idea/inspectionProfiles/
*.py.idea/codeStyles/
*.py.idea/scopes/
*.py.idea/shelf/
*.py.idea/sonarlint/
*.py.idea/encodings.xml
*.py.idea/mavenRunner.xml
*.py.idea/compiler.xml
*.py.idea/copyright/
*.py.idea/libraries/
*.py.idea/runConfigurations/
*.py.idea/sshConfigs.xml
*.py.idea/dataSources.ids
*.py.idea/dataSources.xml
*.py.idea/dataSources.local.xml
*.py.idea/sqlDataSources.xml
*.py.idea/dynamic.xml
*.py.idea/uiDesigner.xml
*.py.idea/gradle.xml
*.py.idea/encodings.xml
*.py.idea/runConfigurations/
*.py.idea/vagrant.xml
*.py.idea/inspectionProfiles/Project_Default.xml
*.py.idea/jsLibraryMappings.xml
*.py.idea/dictionaries/
*.py.idea/sqldialects.xml
*.py.idea/sqlDataSources.xml
*.py.idea/intellij-javadocs.properties
*.py.idea/markdown-navigator.xml
*.py.idea/markdown-navigator-enh.xml
*.py.idea/watcherTasks.xml
*.py.idea/webServers.xml
*.py.idea/webContexts.xml
*.py.idea/codeStyles/codeStyleConfig.xml
*.py.idea/sonarlint/issuestore/
*.py.idea/sonarlint/securityhotspotstore/
*.py.idea/material_theme_project_new.xml
*.py.idea/vcs.xml
*.py.idea/gradle.xml
*.py.idea/libraries/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.......py.idea/
*.py.vscode/
*.py.DS_Store
*.py.Thumbs.db
*.py.Spotlight-V100
*.py.Trashes
*.py._DS_Store
*.py.AppleDouble
*.py.LSOverride
*.py.Icon?
*.py.ReadMe
*.py.readme
*.py.aliases
*.py.desktop.ini
*.py.Understand
*.py.tags
*.py.cscope*
*.py.ncb
*.py.user
*.py.userosscache
*.py.suo
*.py.pdb
*.py.idb
*.py.iobj
*.py.ilk
*.py.log
*.py.err
*.py.out
*.py.a
*.py.so
*.py.o
*.py.obj
*.py.dll
*.py.exe
*.py.class
*.py.jar
*.py.war
*.py.ear
*.py.zip
*.py.tar
*.py.tgz
*.py.tbz2
*.py.txz
*.py.xz
*.py.bz2
*.py.gz
*.py.rar
*.py.7z
*.py.zst
*.py.lz4
*.py.lzh
*.py.cab
*.py.arj
*.py.rpm
*.py.deb
*.py.Z
*.py.lz
*.py.lzo
*.py.tar.gz
*.py.tar.bz2
*.py.tar.xz
*.py.tar.zst
*.py.png
*.py.jpg
*.py.jpeg
*.py.bmp
*.py.gif
*.py.webm
*.py.mp4
*.py.avi
*.py.mov
*.py.wmv
*.py.flv
*.py.mpg
*.py.mpeg
*.py.mkv
*.py.webp
*.py.ico
*.py.svg
*.py.tiff
*.py.tif
*.py.eps
*.py.ai
*.py.psd
*.py.pdf
*.py.doc
*.py.docx
*.py.xls
*.py.xlsx
*.py.ppt
*.py.pptx
*.py.txt
*.py.csv
*.py.json
*.py.xml
*.py.html
*.py.css
*.py.js
*.py.ts
*.py.jsx
*.py.tsx
*.py.vue
*.py.svelte
*.py.hbs
*.py.handlebars
*.py.pug
*.py.jade
*.py.slim
*.py.erb
*.py.haml
*.py.styl
*.py.less
*.py.scss
*.py.sass
*.py.php
*.py.py
*.py.rb
*.py.go
*.py.rs
*.py.cpp
*.py.c
*.py.h
*.py.hpp
*.py.cc
*.py.cxx
*.py.hxx
*.py.java
*.py.class
*.py.jar
*.py.war
*.py.ear
*.py.ipynb
*.py.R
*.py.r
*.py.m
*.py.mat
*.py.f90
*.py.f95
*.py.f03
*.py.f08
*.py.f18
*.py.ml
*.py.mli
*.py.re
*.py.res
*.py.resi
*.py.mlpack
*.py.dune
*.py.dhall
*.py.nix
*.py.yaml
*.py.yml
*.py.toml
*.py.ini
*.py.cfg
*.py.conf
*.py.properties
*.py.env
*.py.envrc
*.py.gitignore
*.py.dockerignore
*.py.editorconfig
*.py.prettierignore
*.py.eslintignore
*.py.stylelintignore
*.py.hadolintignore
*.py.checkovignore
*.py.bandit
*.py.black
*.py.flake8
*.py.isort
*.py.mypy
*.py.pylintrc
*.py.pytest.ini
*.py.tox.ini
*.py.coveragerc
*.py.babelrc
*.py.browserslistrc
*.py.commitlintrc
*.py.czrc
*.py.cz.json
*.py.eslintrc
*.py.hintrc
*.py.jshintrc
*.py.jscsrc
*.py.jshintignore
*.py.markdownlint.json
*.py.nodemon.json
*.py.npmignore
*.py.nycrc
*.py.remarkrc
*.py.rollup.config.js
*.py.stylelintrc
*.py.tslint.json
*.py.tern-config
*.py.tern-project
*.py.vim
*.py.vimrc
*.py.vscode/settings.json
*.py.vscode/tasks.json
*.py.vscode/launch.json
*.py.vscode/extensions.json
*.py.idea/
*.py.idea/workspace.xml
*.py.idea/modules.xml
*.py.idea/vcs.xml
*.py.idea/misc.xml
*.py.idea/runConfigurations/
*.py.idea/dictionaries/
*.py.idea/inspectionProfiles/
*.py.idea/codeStyles/
*.py.idea/scopes/
*.py.idea/shelf/
*.py.idea/sonarlint/
*.py.idea/encodings.xml
*.py.idea/mavenRunner.xml
*.py.idea/compiler.xml
*.py.idea/copyright/
*.py.idea/libraries/
*.py.idea/runConfigurations/
*.py.idea/sshConfigs.xml
*.py.idea/dataSources.ids
*.py.idea/dataSources.xml
*.py.idea/dataSources.local.xml
*.py.idea/sqlDataSources.xml
*.py.idea/dynamic.xml
*.py.idea/uiDesigner.xml
*.py.idea/gradle.xml
*.py.idea/encodings.xml
*.py.idea/runConfigurations/
*.py.idea/vagrant.xml
*.py.idea/inspectionProfiles/Project_Default.xml
*.py.idea/jsLibraryMappings.xml
*.py.idea/dictionaries/
*.py.idea/sqldialects.xml
*.py.idea/sqlDataSources.xml
*.py.idea/intellij-javadocs.properties
*.py.idea/markdown-navigator.xml
*.py.idea/markdown-navigator-enh.xml
*.py.idea/watcherTasks.xml
*.py.idea/webServers.xml
*.py.idea/webContexts.xml
*.py.idea/codeStyles/codeStyleConfig.xml
*.py.idea/sonarlint/issuestore/
*.py.idea/sonarlint/securityhotspotstore/
*.py.idea/material_theme_project_new.xml
*.py.idea/vcs.xml
*.py.idea/gradle.xml
*.py.idea/libraries/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.py.idea/runConfigurations/
*.......